@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
} 
body{
    font-family:"TT Lakes", sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    height: 88px;
    padding:5px;
    justify-content: space-around;
    align-items: center;
}
.header_icon:first-child, .header_repair{
    margin-right: 16px;
}
.header_divider__for768{
    display:none;
}
.header_icon__for768{
    display:none;
}
.header_text{
    display:none;
}
.header_divider{
    height:40px;
    margin: 0 16px;
}
.header_icon, .header_repair, .header_checkstatus{
    width:40px;
    height:40px;
}
.header_logo{
    height:51px;
}

.container{
    background-color: #F8F8F8;
    border-top: 1px solid #B8FFEC;
    padding-inline-start: 0px;

}
.container_title{
    display:flex;
    height: 40px;
    margin-top: 20px;
    align-items: center;
}
.container_title__line{
    margin-right:16px;
    height: 40px;
}
.container_menu{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    white-space: nowrap;
    padding-inline-start: 5px;
    margin-bottom: 0px;

}
.container_menu::-webkit-scrollbar {
     display: none; 
}
.container_menu__item{
     margin:10px;
     color:#7E7E82;
     height:24px;
     padding:10px;
}
.container_menu__item:first-child{
     background-color: white;
     border-radius:6px;
     border:2px solid #B8FFEC;
}
.container_text__for320{
    padding:0 16px;
    margin-top: 16px;
    font-size: 15px;
}
.container_text__for768, .container_photo__for768{
    display:none;
}
.container_photo__for320{
    width: 100%;
    height: auto;
}
.container_readmore{
    display:flex;
    padding:16px;
    font-weight: 500;
}
.container_readmore__expand{
    height:24px;
    width:24px;
}
@media (min-width:768px) {

    .header_icon__for768{
        display:flex;
        margin-left: auto;
        gap:16px;
        margin-right:16px;
    }
    .header_divider__for768{
        display:flex;
        height:40px;
        margin-right:16px;
    }
    .header_logo{
        margin-left:16px;
    }
    .header_checkstatus{
        margin-right:16px;
    }
    .header_divider{
        display:none;
    }
    .container_text{
        flex-direction: row;
    }
    .container_text__for768{
        display:block;
        font-size: 15px;
        padding:0 16px;
    }
    .container_text__for1120, .container_photo__for320{
        display:none;
    }
    .container_photo__for768{
        display:block;
        float:right;
        width:50%;
        margin-left:20px;
    }
}
@media (min-width:1120px){
    body{
        background-color: #F8F8F8;
    }
    .header{
        float:right;
    }
    .header_text{
        display:flex;
        margin-right: 10px;
    }
    .header_icon, .header_divider__for768, .header_logo{
        display:none;
    }
    .header_repair, .header_checkstatus{
        margin-right: 10px;
    }
    .container {
      border-top: 1px solid #F8F8F8 ;
    }
    .container_text__for1120{
        display:inline;
    }
}