@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes';
    src: url('fonts/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
} 
body{
    font-family:"TT Lakes", sans-serif;
}
.header{
    display: flex;
    height: 88px;
    padding:5px;
    justify-content: space-around;
    align-items: center;
}
.header_divider__for768{
    display:none;
}
.header_icon__for768{
    display:none;
}
.header_text{
    display:none;
}
.header_divider{
    height:40px;
}
.header_icon, .header_repair, .header_checkstatus{
    width:40px;
    height:40px;
}
.header_logo{
    height:51px;
}
@media (min-width:768px) {
    .header_icon__for768{
        display:flex;
        margin-left: 200px;
        gap:20px;
    }
    .header_divider__for768{
        display:flex;
        height:40px;
    }
    .header_divider{
        display:none;
    }
}
@media (min-width:1120px){
    .header{
        float:right;
    }
    .header_text{
        display:flex;
        margin-right: 10px;
    }
    .header_icon, .header_divider__for768, .header_logo{
        display:none;
    }
    .header_repair, .header_checkstatus{
        margin-right: 10px;
}
}